extends ../layouts/main-layout.pug


block content
    main.centered
        h1 #{product.title}
        hr
        div
            img(src=product.imageUrl alt=product.title)
        h2 #{product.price}
        h2 #{product.description}
        if isAuthenticated
            form(action="/cart", method="post")
                button(type="submit").btn Add to Cart 
                input(type= 'hidden', name= "productId", value = product._id)